body {
  background: black;
}
.cube {
  height: 5rem;
  width: 5rem;
  margin: 15rem auto;
  transform-style: preserve-3d;
  perspective: 10000px;
  transition: all 2s ease;
  animation: spin 5s linear infinite forwards;
}
@keyframes spin {
  from {
    transform: rotateX(-15deg) rotateY(0deg);
  }
  to {
    transform: rotateX(-15deg) rotateY(360deg);
  }
}
.front {
  position: absolute;
  height: 4.99rem;
  width: 5rem;
  box-shadow: inset 0 0 15px 5px rgb(0, 245, 255);
  text-align: center;
  line-height: 5rem;
  background: rgb(0, 190, 200, .5);
  transition: all 0.5s ease;
  transform: translateZ(2.5rem);
}
.back {
  position: absolute;
  height: 5rem;
  width: 5rem;
  box-shadow: inset 0 0 15px 5px rgb(0, 245, 255);
  text-align: center;
  line-height: 5rem;
  background: rgb(0, 190, 200, .5);
  transition: all 0.5s ease;
  transform: rotateY(180deg) translateZ(2.5rem);
}
.right {
  position: absolute;
  height: 5rem;
  width: 5rem;
  box-shadow: inset 0 0 15px 5px rgb(0, 245, 255);
  text-align: center;
  line-height: 5rem;
  background: rgb(0, 190, 200, .5);
  transition: all 0.5s ease;
  transform: rotateY(90deg) translateZ(2.5rem);
}
.left {
  position: absolute;
  height: 5rem;
  width: 5rem;
  box-shadow: inset 0 0 15px 5px rgb(0, 245, 255);
  text-align: center;
  line-height: 5rem;
  background: rgb(0, 190, 200, .5);
  transition: all 0.5s ease;
  transform: rotateY(-90deg) translateZ(2.5rem);
}
.top {
  position: absolute;
  height: 5rem;
  width: 5rem;
  box-shadow: inset 0 0 15px 5px rgb(0, 245, 255);
  text-align: center;
  line-height: 5rem;
  background: rgb(0, 190, 200, .5);
  transition: all 0.5s ease;
  transform: rotateX(90deg) translateZ(2.5rem);
}
.bottom {
  position: absolute;
  height: 5rem;
  width: 5rem;
  box-shadow: inset 0 0 15px 5px rgb(0, 245, 255);
  text-align: center;
  line-height: 5rem;
  background: rgb(0, 190, 200, .5);
  transition: all 0.5s ease;
  transform: rotateX(-90deg) translateZ(2.5rem);
}
.shadow {
  position: absolute;
  height: 5rem;
  width: 5rem;
  color: black;
  box-shadow: inset 0 0 15px 5px rgb(0, 245, 255);
  text-align: center;
  line-height: 5rem;
  background: rgb(0, 245, 255);
  transition: all 0.5s ease;
  transform: rotateX(-90deg) translateZ(3.5rem);
  animation: sp 4s linear infinite;
}
@keyframes sp {
  0% {
    filter: blur(25px);
  }
  50% {
    filter: blur(50px);
  }
  100% {
    filter: blur(25px);
  }
}
.op {
  height: 5rem;
  width: 5rem;
  margin: 15rem auto;
  transform-style: preserve-3d;
  perspective: 10000px;
  transition: all 2s ease;
  animation: spin 2.5s linear infinite forwards;
}
.op1 {
  position: absolute;
  height: 4.99rem;
  width: 5rem;
  box-shadow: inset 0 0 15px 5px rgb(0, 245, 255);
  text-align: center;
  line-height: 5rem;
  background: rgb(0, 190, 200, .5);
  transition: all 0.5s ease;
  transform: translateZ(5.5rem);
}
.op2 {
  position: absolute;
  height: 5rem;
  width: 5rem;
  box-shadow: inset 0 0 15px 5px rgb(0, 245, 255);
  text-align: center;
  line-height: 5rem;
  background: rgb(0, 190, 200, .5);
  transition: all 0.5s ease;
  transform: rotateY(180deg) translateZ(5.5rem);
}
.op3 {
  position: absolute;
  height: 5rem;
  width: 5rem;
  box-shadow: inset 0 0 15px 5px rgb(0, 245, 255);
  text-align: center;
  line-height: 5rem;
  background: rgb(0, 190, 200, .5);
  transition: all 0.5s ease;
  transform: rotateY(90deg) translateZ(5.5rem);
}
.op4 {
  position: absolute;
  height: 5rem;
  width: 5rem;
  box-shadow: inset 0 0 15px 5px rgb(0, 245, 255);
  text-align: center;
  line-height: 5rem;
  background: rgb(0, 190, 200, .5);
  transition: all 0.5s ease;
  transform: rotateY(-90deg) translateZ(5.5rem);
}
.op5 {
  position: absolute;
  height: 5rem;
  width: 5rem;
  box-shadow: inset 0 0 15px 5px rgb(0, 245, 255);
  text-align: center;
  line-height: 5rem;
  background: rgb(0, 190, 200, .5);
  transition: all 0.5s ease;
  transform: rotateX(90deg) translateZ(5.5rem);
}
.op6 {
  position: absolute;
  height: 5rem;
  width: 5rem;
  box-shadow: inset 0 0 15px 5px rgb(0, 245, 255);
  text-align: center;
  line-height: 5rem;
  background: rgb(0, 190, 200, .5);
  transition: all 0.5s ease;
  transform: rotateX(-90deg) translateZ(5.5rem);
}
.op7 {
  position: absolute;
  height: 5rem;
  width: 5rem;
  color: black;
  box-shadow: inset 0 0 15px 5px rgb(0, 245, 255);
  text-align: center;
  line-height: 5rem;
  background: rgb(0, 245, 255);
  transition: all 0.5s ease;
  transform: rotateX(-90deg) translateZ(6.5rem);
  animation: sp 4s linear infinite;
}